<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attack page</title>
  </head>
  <body>
    <h1><%= @game.player_1.name %> attacked <%=@game.player_2.name%> </h1>
    <h2><%= @game.player_2.name %>: <%= @game.player_2.hit_points%>HP </h2>
  </body>
</html>
