<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Play page </title>
  </head>
  <body>
    <h1>Play: </h1>
    <h2><%= @player_1 %> vs. <%= @player_2 %></h2>
  </body>
</html>
